#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_FTCoind += debian/examples/*
DEB_INSTALL_MANPAGES_FTCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix FTCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f FTCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake FTCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/FTCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/FTCoind
binary-post-install/FTCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/FTCoin-qt
